.bodybg{
    -fx-background-image: url('../images/fifth.jpg');
    -fx-background-size: 100% 100%;
}

.adminbg{
    -fx-background-image: url('../images/second.jpg');
    -fx-background-size: 100% 100%;
}

